
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8"/>
    <%= stylesheet_link_tag "style.css" %>
  </head>



  <body class="page">
    <header class="header">
      <h1 class="page__title">GettyCats</h1>
      <div class="header_button">
        <% if current_user %>
          <%= button_to 'Create new cat', new_cat_path, method: :get %>
          <p>Welcome <%= current_user.email %></p>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path, class: 'btn' %>
          <%= link_to "Sign Up", signup_path, class: 'btn' %>
        <% end %>
      </div>
    </header>
    <main class="main">
      <div class="content">
        <h2 class=main_title>Welcome to the website</h2>
        <p>To view the data, click on the button</p>
      </div>

      <div class="main_btn">
        <%= button_to 'Create new cat', new_cat_path, method: :get, class: 'btn'%>
        <%= button_to 'Show All Records', show_all_records_path, method: :get, class: 'btn'%>
      </div>
    </main>
    <footer class="footer">

    </footer>
  </body>
</html>